/* body * { */
/*   border: 1px solid black; */
/* } */

body {
  background-color: #944;
  color: #556;
}

div.calcBody {
  background-color: #577;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px 15px black;
}

ul {
  display: inline-block;
  text-align: left;
}

.footer {
  color: #dbe;
}

kbd.calc {
  background-color: #800;
}


/*-- Calc Display Window --*/

div.calcDisplayWindow {
  background-color: white;
  line-height: 1;
  box-shadow: inset 2px 2px 1px black, 2px 2px 1px #aaa;
}

div.calcDisplayWindowInner {
  border: 1px solid black;
  font-family: monospace;
}

div.calcRegister {
  font-size: 35px;
}

div.calcFormula pre {
  overflow-y: hidden;
}


/*-- Calc Buttons --*/

div.calcButtons {
  background-color: white;
  font-size: 25px;
  box-shadow: inset 2px 2px 1px black, 2px 2px 1px #aaa;
}

div.calcButtons div.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

div.calcButtons div.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

div.calcButtons .btn-outline-secondary {
  color: black;
}

div.calcButtons .btn-outline-secondary:hover {
  color: white;
}
